@use "config/variables" as v;


.flex {
    @include v.flex;
}

.min_container {
    @include v.min;
}
.container {
    min-width: 1020px;
    margin: 0 auto;
    width: 68.75%;
}
.smallest_container {
    @include v.min_min;
}
br.sp {
    display: none;
}
br.pc {
    display: block;
}
.pc {
    display: block;
}
.sp {
    display: none;
}
.non_image {
    background-image: url(../images/common/non_image.jpg);
}
.flex--start {
    justify-content: flex-start;
}
/*-------------------------
    ボタン
-------------------------*/

.common__btn {
    width: 200px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #214F69;
    font-weight: bold;
    padding: 18px 0;
    border-radius: 50px;
}

/*-------------------------
    ヘッダー
-------------------------*/

header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 5000;
    .header__wrap {
        width: 100%;
        
        a.header__logo {
            width: 246px;
            margin-left: 23px;
            
            img {
                width: 100%;
            }
        }
        ul {
            width: 60%;
            li {
                a {
                    color: #3B4043;
                    padding: 38px 0;
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 0.05em;
                }
                &:last-child {
                    width: 172px;
                    a {
                        color: #fff;
                        display: block;
                        width: 100%;
                        text-align: center;
                        background-color: #214F6A;
                        border-top-left-radius: 15px;
                        border-bottom-left-radius: 15px;
                    }
                }
            }
        }
    }
}


/*-------------------------
    セクションのタイトル
-------------------------*/
.section__content {
    h2.section__content--ttl {
        margin-bottom: 5.7rem;
        small {
            font-family: "din-2014", sans-serif;
            font-weight: normal;
            font-size: 16px;
            display: inline-block;
            padding-left: 40px;
            position: relative;
            color: #204F6A;
            margin-bottom: 8px;
            &::before {
                content: "";
                width: 20px;
                height: 2px;
                background-color: #204F6A;
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0px;
                margin: auto;
            }
        }
        span {
            display: block;
            font-size: clamp(29px, 3.2rem, 43px);
            font-weight: 900;
            color: #204F6A;
        }
    }
    p.section__content--text {
        font-size: clamp(1.2rem, 1.055rem + 0.73vw, 1.6rem);
        color: #3B4043;
        line-height: 2;
        margin-bottom: 6rem;
    }
}


/*-------------------------
    流れる文字
-------------------------*/
.scroll__textWrapper {
        white-space: nowrap;
        width: 100%;
        position: relative;
    .big__slideText {
        color: #F1F8FE;
        font-size: clamp(100px,12rem,200px);
        font-weight: bold;
        display: inline-block;
        letter-spacing: 0.06em;
        margin-right: 2rem;
    }

}

/*-------------------------
    中央揃いタイトル
-------------------------*/
h2.sec_ttl--center {
    text-align: center;
    span {
        font-family: "din-2014", sans-serif;
        font-size: 16px;
        display: block;
        text-align: center;
        position: relative;
        font-weight: normal;
        color: #204F6A;
        &::before {
            content: "";
            width: 20px;
            height: 2px;
            background: #204F6A;
            position: absolute;
            bottom: -20px;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    strong {
        display: block;
        font-size: clamp(2.1rem, 1.336rem + 3.82vw, 4.2rem);
        color: #204F6A;
        margin-top: 4rem;
    }
}


@media screen and (max-width: 768px) {

    .pc {
        display: none!important;
    }
    .sp {
        display: block!important;
    }
    .container {
        min-width: 1px;
        
        width: 84%;
    }
    .order_1 {
        order: 2;
    }
    .order_2 {
        order: 1;
    }
    br.sp {
        display: block;
    }
    a.common_btn {
        margin: auto;
    }
    .smallest_container {
        width: 89%;
    }
    .slick-next {
        width: 30px;
        height: 30px;
        background-image: url(../images/common/point_next.svg)!important;
        background-size: contain;
    }
    .slick-next:before {
        content: "";
        
    }
    .slick-prev {
        width: 30px;
        height: 30px;
        background-image: url(../images/common/point_prev.svg)!important;
        background-size: contain;
    }
    .slick-prev:before {
        content: "";
        
    }
}


/*-------------------------
    Footer
-------------------------*/

#footer {
    padding-top: 7rem;
    background-color: #204F6A;
    padding-bottom: 14rem;
    .container {
        width: 68%;
        margin-left: auto;
        margin-right: auto;
        .flex {
            align-items: flex-start;
        }
        .footer__left {
            width: 40%;
            a.footer_logo {
                margin-bottom: 4rem;
                display: block;
                img {
                    width: 360px;
                }
            }
            p {
                font-size: 14px;
                line-height: 1.5em;
                color: #fff;
                margin-bottom: 1rem;
            }
            a.footer_tel {
                font-size: clamp(16px, 1.091rem + 2.55vw, 3rem);
                color: #fff;
                span {
                    font-size: 14px;
                }
            }
        }
        .footer__right {
            width: 50%;
            ul.footer__nav {
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-bottom: 6rem;
                li {
                    display: inline-block;
                    margin-right: 4rem;
                    letter-spacing: 0.1em;
                    margin-bottom: 6rem;
                    a {
                        color: #fff;
                        font-size: 14px;
                    }
                }
            }
            ul.footer__sns {
                justify-content: flex-start;
                li {
                    width: 25px;
                    margin-right: 4rem;
                    a {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}


/*-------------------------
    固定ページ共通
-------------------------*/
.page__mainVisual {
    margin-bottom: 18.5rem;
    .page__mainVisual--thumb {
        @include v.bg;
        width: 57%;
        height: 600px;
        order: 2;
        border-bottom-left-radius: 50px;
    }
    .page__mainVisual--content {
        position: relative;
        width: 43%;
        h1 {
            position: relative;
            right: -12rem;
            top: 0;
            span {
                font-family: 'antro';
                color: #99C8E3;
                line-height: 1.2;
                font-weight: normal;
                font-size: clamp(125px, 10.5rem + 10vw, 18rem);
            }
            b {
                color: #214F6A;
                font-size: clamp(48px, 4.036rem + 3.82vw, 6.9rem);
            }
        }
    }
}

/*-------------------------
    MAP
-------------------------*/
#map {
    width: 100%;
    .container {
        .flex {
            align-items: flex-start;
            h2 {
                margin-bottom: 4.5rem;
                color: #214F6A;
                strong {
                    font-size: clamp(21px, 1.336rem + 3.82vw, 4.2rem);
                    font-weight: bold;
                    margin-right: 3rem;
                    display: inline-block;
                    vertical-align: middle;
                }
                
                span {
                    font-size: 16px;
                    vertical-align: middle;
                }
            }
            a.common__btn {
                width: 240px;
                .flex {
                    justify-content: center;
                    img {
                        padding-right: 10px;
                    }
                }
                
            }
        }
    }
    iframe {
        width: 100%;
        height: 60rem;
        border-radius: 60px;
    }
}