@use "./config/variables" as v;
@use "./common" as c;


/*-------------------------
メインビジュアル
-------------------------*/
#mv {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .mv__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        #videoTop {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
        }
        p.catch {
            position: absolute;
            top: 50%;
            left: 120px;
            font-size: clamp(48px, 2.523rem + 2.39vw, 69px);
            letter-spacing: 0.2em;
            line-height: 1.5;
            color: #fff;
            font-weight: bold;
            @media screen and (max-width: 768px) {
                font-size: 26px;
                left: 40px;
                top: auto;
                bottom: 10%;
            }
        }
    }
    @media screen and (max-width: 768px) {
        p.catch {
            font-size: 30px;
        }
    }
}

/*-------------------------
    ABOUT
-------------------------*/
#about {
    padding-top: 12rem;
    margin-bottom: 3rem;
    @media screen and (max-width: 768px) {
        padding-top: 0;
    }
    .left_container {
        width: 84.375%;
        margin-right: auto;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        .about__slider {
            width: 59%;
            margin: 0 auto; // 中央揃え
            @media screen and (max-width: 768px) {
                width: 100%;
                margin-bottom: 40px;
            }
            .about__slider--slide {
                display: inline-block;
                width: 100%; // 各スライドの幅をスライダーの幅に合わせる
        
                img {
                    width: 100%; // 画像をスライドの幅に合わせて拡大
                    height: auto; // 画像の高さを自動調整してアスペクト比を保持
                }
            }
        }
        
        .about__right {
            margin-left: 17rem;
            @media screen and (max-width: 768px) {
                width: 89%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .vimeo__player {
        margin-top: 4px;
        width: 60%;
        margin-right: auto;
        margin-left: auto;
        @media screen and (max-width: 768px) {
            width: 90%;
            margin-top: 60px
        }
    }
}


/*-------------------------
    MENU
-------------------------*/
#menu {
    padding-top: 17rem;
    margin-bottom: 10rem;
    @media screen and (max-width: 768px) {
        margin-bottom: 0;
    }
   .menu__wrapper {
    position: relative;
    align-items: flex-start;
        .menu__wrapper--left {
            width: 74%;
            @media screen and (max-width: 768px) {
                width: 100%;
                order: 2;
            }
            ul {
                flex-wrap: wrap;
                justify-content: space-between;
                li {
                    &:first-child {
                        width: 100%;
                        padding-top: 35%;
                        @media screen and (max-width: 768px) {
                            padding-top: 200px;
                            padding-bottom: 20px;
                        }
                    }
                    width: 49%;
                    padding-top: 25%;
                    padding-bottom: 2%;
                    text-align: center;
                    @include v.bg;
                    margin-top: 2%;
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        padding-top: 200px;
                        padding-bottom: 20px;
                    }
                    a {
                        display: block;
                        margin: auto;
                        width: 320px;
                        background-color: #fff;
                        color: #204F6A;
                        font-size: clamp(14px,1.6rem,18px);
                        @media screen and (max-width: 768px) {
                            width: 60%;
                        }
                    }
                    &.aonodokutsu {
                        background-image: url(./../images/top/aonodokutsu.jpg);
                    }
                    &.sup {
                        background-image: url(./../images/top/sup.jpg);
                    }
                    &.marinactivity {
                        background-image: url(./../images/top/marinactivity.jpg);
                    }
                    &.pala {
                        background-image: url(./../images/top/pala.jpg);
                    }
                    &.bbq {
                        background-image: url(./../images/top/bbq.jpg);
                    }
                    &.fishing {
                        background-image: url(./../images/top/fishing.jpg);
                    }
                }
            }
        }
   }
   .menu__wrapper--right {
        position: sticky;
        top: 15rem;
        right: 0;
        width: 15%;
        margin-right: 5%;
        @media screen and (max-width: 768px) {
            position: relative;
            width: 89%;
            margin: 0px auto 60px auto;
            order: 1;
        }
   }
}

/*-------------------------
    feature
-------------------------*/
#feature {
    .container {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    .feature__content {
        align-items: flex-start;
        margin-bottom: 15rem;
        @media screen and (max-width: 768px) {
            margin-bottom: 60px;
        }
        .feature__text {
            width: 40%;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            flex-flow: column;
            @media screen and (max-width: 768px) {
                order: 1;
                width: 100%;
            }
            span {
                display: inline-block;
                color: #fff;
                background: #004BB1;
                font-size: clamp(16px,20px,24px);
                font-weight: bold;
                border-radius: 8px;
                width: 130px;
                text-align: center;
                padding: 5px 0;
                @media screen and (max-width: 768px) {
                    font-size: 13px;
                    width: 100px;
                }
            }
            .feature__ttl {
                width: 100%;
                strong {
                    font-size: clamp(30px,35px,48px);
                    display: block;
                    color: #214F6A;
                    position: relative;
                    @media screen and (max-width: 768px) {
                        font-size: 26px;
                        margin-bottom: 50px;
                    }
                    &::after {
                        content: "";
                        width: 40px;
                        height: 5px;
                        background-color: #214F6A;
                        position: absolute;
                        left: 0;
                        bottom: -20px;
                        @media screen and (max-width: 768px) {
                            height: 3px;
                            width: 25px;
                        }
                    }
                }
                p {
                    font-size: clamp(14px,1.6rem,18px);
                    line-height: 1.8;
                    margin-top: 5rem;
                }
            }

        }
        .feature__text--right {
            order: 2;
            width: 30%;
            margin-left: 15rem;
            @media screen and (max-width: 768px) {
                width: 100%;
                margin-left: 0;
            }
        }
        .feature__images {
            width: 60%;
            padding-top: 40%;
            @include v.bg;
            box-shadow: 0px 0px 40px rgba(19, 54, 111, 0.3);
            @media screen and (max-width: 768px) {
                width: 100%;
                padding-top: 0;
                height: 250px;
                margin-bottom: 30px;
                box-shadow: 0px 0px 10px rgba(19, 54, 111, 0.3);
            }
        }

    }
    .feature__content--01 {
        .feature__images {
            background-image: url(./../images/top/feature01.jpg);
        }
    }
    .feature__content--02 {
        .feature__images {
            background-image: url(./../images/top/feature02.jpg);
        }
    }
    .feature__content--03 {
        .feature__images {
            background-image: url(./../images/top/feature03.jpg);
        }
    }
}


/*-------------------------
    staff
-------------------------*/
#staff {
    padding-top: 7rem;
    @media screen and (max-width: 768px) {
        padding-top: 40px;
        padding-bottom: 120px;
    }
    .container {
        width: 68.75%;
        margin-left: auto;
        margin-right: auto;
        @media screen and (max-width: 768px) {
            width: 89%;
        }
        ul {
            justify-content: space-between;
            margin-top: 6rem;
            li {
                width: 18%;
                margin-bottom: 8rem;
                @media screen and (max-width: 768px) {
                    width: 45%;
                }
                .member__thumb {
                    width: 100%;
                    padding-top: 100%;
                    @include v.bg;
                    margin-bottom: 3rem;
                    border-radius: 50%;
                }
                .member__text {
                    b {
                       font-size:  clamp(1.8rem, 1.582rem + 1.09vw, 2.4rem);
                       display: block;
                       text-align: center;
                       margin-bottom: 1rem;
                       @media screen and (max-width: 768px) {
                           font-size: 18px;
                       }
                    }
                    span {
                        text-align: center;
                        display: block;
                        font-size: 10px;
                        @media screen and (max-width: 768px) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

/*-------------------------
    news
-------------------------*/
#news {
    width: 100%;
    position: relative;
    padding: 8rem 0;
    @media screen and (max-width: 768px) {
        padding: 60px 0;
    }
    &::before {
        content: "";
        background-color: #F1F8FF;
        width: 94.5%;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;

    }
    .container {
        width: 68.75%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 10;
        ul {
            flex-wrap: wrap;
            margin-top: 6rem;
            @media screen and (max-width: 768px) {
                margin-top: 60px;
            }
            li {
                width: 32%;
                padding-top: 20%;
                @include v.bg;
                padding-bottom: 3%;
                @media screen and (max-width: 768px) {
                    width: 100%;
                    padding-top: 150px;
                    padding-bottom: 30px;
                    margin-bottom: 20px;
                }
                a {
                    display: block;
                    .post_ttl {
                        color: #fff;
                        width: 90%;
                        margin: auto;
                        span {
                            color: #fff;
                            font-size: 13px;
                            border: 1px solid #fff;
                            display: inline-block;
                            border-radius: 25px;
                            width: 80px;
                            text-align: center;
                            padding: 0px 0;
                            margin-bottom: 8px;
                        }
                        h3 {
                            font-size: clamp(14px, 1.182rem + 1.09vw, 2rem);
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        a.common__btn {
            margin-right: auto;
            margin-left: auto;
            margin-top: 60px;
            @media screen and (max-width: 768px) {
                margin-top: 30px;
            }
        }
    }
}

/*-------------------------
    safe
-------------------------*/
#safe {
    margin-top: 80px;
    margin-bottom: 80px;
    h2 {
        font-size: clamp(2.1rem, 1.336rem + 3.82vw, 42px);
        color: #204F6A;
        text-align: center;
        margin-bottom: 40px;
        @media screen and (max-width: 768px) {
            font-size: 26px;
        }
    }
    .safe__wrapper {
        box-sizing: border-box;
        padding: 6rem;
        background-color: #fbfbfb;
        @media screen and (max-width: 768px) {
            padding: 30px;
        }
        b {
            display: block;
            text-align: center;
            margin-bottom: 4rem;
            font-size: 22px;
        }
        ul {
            li {
                font-size: 16px;
                line-height: 2;
                margin-bottom: 30px;
            }
        }
    }
}

/*-------------------------
    contact__wrap
-------------------------*/
#contact__wrap {
    padding-top: 20rem;
    padding-bottom: 12rem;
    @media screen and (max-width: 768px) {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .container {
        width: 93%;
        margin-right: auto;
        margin-left: auto;
        .flex {
            .contact__btn--wrapper {
                padding: 11rem 0;
                width: 48%;
                position: relative;
                box-shadow: 0px 0px 40px rgba(19, 54, 111, 0.2);
                border-radius: 50px;
                @media screen and (max-width: 768px) {
                    width: 100%;
                    box-shadow: 0px 0px 10px rgba(19, 54, 111, 0.2);
                    border-radius: 15px;
                    margin-bottom: 20px;
                }
                img {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 6rem;
                    margin: auto;
                    @media screen and (max-width: 768px) {
                        width: 45px;
                        right: 30px;
                    }
                }
                .contact__btn--content {
                    strong {
                        font-size: clamp(56px, 4.727rem + 4.36vw, 8rem);
                        color: #204F6A;
                        display: block;
                        text-align: center;
                        margin-bottom: 5rem;
                        position: relative;
                        font-family: "futura-pt", sans-serif;
                        @media screen and (max-width: 768px) {
                            font-size: 30px;
                        }
                        &::before {
                            content: "";
                            width: 50px;
                            height: 1px;
                            background-color: #204F6A;
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: -2rem;
                            margin: auto;
                        }
                    }
                    span {
                        display: block;
                        color: #204F6A;
                        font-weight: bold;
                        text-align: center;
                        font-size: clamp(20px, 1.709rem + 1.45vw, 2.8rem);
                        @media screen and (max-width: 768px) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}