@use "./../config/variables" as v;
@use "./../common" as c;

.page__mainVisual {
    .page__mainVisual--thumb {
        background-image: url(./../../images/about/mv.png);
    }
}
#about__first {
    margin-bottom: 15rem;
    @media screen and (max-width: 768px) {
        margin-bottom: 80px;
    }
    .flex {
        justify-content: flex-start;
        .about__first--img {
            @include v.bg;
            background-image: url(./../../images/about/about_first.jpg);
            width: 21.25%;
            min-width: 350px;
            padding-top: 20%;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            @media screen and (max-width: 768px) {
                order: 2;
                width: 90%;
                min-width: 1px;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                padding-top: 0;
                height: 150px;
            }
        }
        .about__text {
            margin-left: 14rem;
            @media screen and (max-width: 768px) {
                width: 89%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 40px;
            }
        }
    }
}

p.about__text {
    font-size: clamp(14px, 1.182rem + 1.09vw, 2rem);
    color: #214F6A;
    line-height: 2em;
    font-weight: 500;
}

.features__wrap {
    .right__container {
        width: 84.375%;
        margin-left: auto;
        margin-bottom: 20rem;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 80px;
            .features__content {
                width: 89%;
                margin: 0 auto 40px auto;
            }
        }
        .flex {
            @media screen and (max-width: 768px) {
                justify-content: flex-end;
            }
            .features__img--right {
                width: 50%;
                padding-top: 30%;
                background-image: url(./../../images/about/features_01.jpg);
                border-top-left-radius: 60px;
                border-bottom-left-radius: 60px;
                @media screen and (max-width: 768px) {
                    width: 90%;
                    padding-top: 0;
                    height: 150px;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    margin-right: 0;
                }
            }
        }
    }
    .left__container {
        width: 84.375%;
        margin-right: auto;
        margin-bottom: 15rem;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        .features__content {
            order: 2;
            @media screen and (max-width: 768px) {
                width: 89%;
                margin-right: auto;
                margin-left: auto;
                order: 1;
                margin-bottom: 40px;
            }
        }
        .features__img--left {
            order: 1;
            width: 50%;
            padding-top: 30%;
            background-image: url(./../../images/about/features_04.jpg);
            border-top-right-radius: 60px;
            border-bottom-right-radius: 60px;
            margin-right: 12rem;
            @media screen and (max-width: 768px) {
                width: 90%;
                padding-top: 0;
                height: 150px;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                margin-right: auto;
                order: 2;
                margin-bottom: 80px;
            }
        }
    }
    .container {
        margin-bottom: 15rem;
        @media screen and (max-width: 768px) {
            margin-bottom: 80px;
        }
        .features__img--2 {
            width: 37.8%;
            margin-right: 16%;
            background-image: url(./../../images/about/features_02.jpg);
            border-radius: 60px;
            padding-top: 37.8%;
            order: 1;
            @media screen and (max-width: 768px) {
                order: 2;
                width: 100%;
                margin-right: auto;
                margin-left: auto;
                padding-top: 0;
                height: 150px;
                border-radius: 15px;
                margin-top: 30px;
                margin-bottom: 20px;
            }
        }
        .features__img--3 {
            background-image: url(./../../images/about/features_03.jpg);
            width: 50%;
            padding-top: 35.6%;
            border-radius: 60px;
            @media screen and (max-width: 768px) {
                width: 100%;
                padding-top: 0;
                height: 150px;
                border-radius: 15px;
                margin-top: 30px;
                margin-bottom: 20px;
            }
        }
    }
    .features__content {
        h3 {
            color: #214F6A;
            font-size: clamp(21px, 1.336rem + 3.82vw, 4.2rem);
            margin-bottom: 3rem;
            @media screen and (max-width: 768px) {
                margin-bottom: 30px;
            }
            span {
                font-family: "futura-pt";
                font-weight: 400;
                padding-left: 40px;
                position: relative;
                font-size: 16px;
                display: block;
                &::before {
                    content: "";
                    width: 20px;
                    height: 2px;
                    background-color: #214F6A;
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                }
            }
        }
    }
    .features__content--right {
        order: 2;
        
    }
    .features__img {
        @include v.bg;
    }
}